[Unit]
Description=Servicio para el Servidor FastAPI de Angie
After=network.target

[Service]
Type=simple
User=pi
Group=audio
PAMName=login
# Agrega la línea siguiente si tienes un grupo `sound`
# Group=sound
WorkingDirectory=/opt/Say-Fi-Print
ExecStart=/opt/Say-Fi-Print/start_serveria.sh
Environment="PATH=/opt/Say-Fi-Print/SFPrint/bin:/usr/bin"
Restart=on-failure
RestartSec=5
StartLimitInterval=60
StartLimitBurst=3
PIDFile=/var/run/fastapi_serveria.pid

[Install]
WantedBy=multi-user.target
